trigger:
  branches:
    include:
    - master

pool:
  vmImage: vs2017-win2016

variables:
  BuildConfiguration: 'Release'
  NukeBuildDirectory: 'build'
  NukeBuildScript: 'build.ps1'
  NukeFile: '.nuke'

  GitVersion: $(GitVersion.MajorMinorPatch)
  BuildSuffix: $[counter(variables['GitVersion'], 0)]
  BuildVersion: $(GitVersion)-$(BuildSuffix)

  SolutionFile: 'Pivotal.Redis.Aspnet.Session.Buildpack.sln'
  ArtifactsDirectory: 'artifacts'

steps:
- task: GitVersion@4
  displayName: 'GitVersion'
  inputs:
    updateAssemblyInfo: true

- script: echo %Action%%BuildVersion%
  displayName: 'Set build version'
  env:
    Action: '##vso[build.updatebuildnumber]'
    BuildVersion: $(BuildVersion)

- task: NuGetToolInstaller@1
    
- task: PowerShell@2
  displayName: 'Executing Nuke Build'
  inputs:
    filePath: 'build.ps1'
    arguments: 'Publish --Configuration $(BuildConfiguration)'

- task: CopyFiles@1
  displayName: 'Copy $(NukeFile) into staging directory'
  inputs:
    Contents: $(NukeFile)
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: CopyFiles@1
  displayName: 'Copy $(NukeBuildScript) into staging directory'
  inputs:
    Contents: $(NukeBuildScript)
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: CopyFiles@1
  displayName: 'Copy $(SolutionFile) into staging directory (just for nuke purposes)'
  inputs:
    Contents: $(SolutionFile)
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: CopyFiles@1
  displayName: 'Copy $(NukeBuildDirectory) into staging directory'
  inputs:
    Contents: $(NukeBuildDirectory)\**
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: CopyFiles@1
  displayName: 'Copy $(GitFolder) into staging directory for git release purposes'
  inputs:
    Contents: $(GitFolder)\**
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: CopyFiles@1
  displayName: 'Copy $(ArtifactsDirectory) into staging directory for git release purposes'
  inputs:
    Contents: $(ArtifactsDirectory)\**
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Packed Artifacts from staging directory'
  inputs:
    PathtoPublish: $(Build.ArtifactStagingDirectory)
    ArtifactName: publish


